.app {
  margin-top: 110px;
  padding-top: 110px;
  
  border-top: 1px solid #ccc;
  &-inner {
    @include flex("centerc");
  }
  &-title {
    max-width: 450px;
    text-align: center;
  }
  &-desc {
    max-width: 650px;
    text-align: center;
  }
  &-list {
    width: 100%;
    @include grid(3, 70);
  }
  &-item {
    @include flex("centerc");
    &-media {
      @include iconCircle;
      margin-bottom: 20px;
    }
    &-desc {
      max-width: 270px;
      text-align: center;
    }
    &-title {
      font-weight: 600;
      font-size: 2rem;
      color: $title-color;

      text-align: center;
    }
  }
}
@media screen and (max-width: 1023px) {
  .app {
    margin-top: 50px;
    padding-top: 50px;
    &-list {
      @include grid(2, 70);
    }
  }
}
@media screen and (max-width: 767px) {
  .app {
    &-list {
      // @include grid(1, 35);
    
      display: grid;
      justify-content: flex-start;
      grid-auto-columns: 90%;
      grid-auto-flow: column;
      grid-gap: 1.5rem;
      overflow: auto;
      overflow-y: hidden;
      scroll-snap-type: x mandatory;
      scroll-snap-stop: always;
      -ms-touch-action: manipulation;
      touch-action: manipulation;
      -webkit-overflow-scrolling: touch;
      scroll-padding: 1rem;
      grid-template-columns: unset;
      
      &::-webkit-scrollbar {
        display: none;
        width: 0;
      }
      & > * {
        scroll-snap-align: start;
      }
    }
    &-desc {
      margin-bottom: 50px;
    }
  }
}

