.download {
  position: relative;
  &-inner {
    display: flex;
  }
  &-content {
    width: 55%;

    padding-top: 100px;
    padding-bottom: 100px;
  }
  &-media {
    position: absolute;
    top: 50%;
    right: 0;
    bottom : 0;
    transform: translateY(-38%);
    width: 45%;
    height: 100%;
    > img {
      height: 100%;
      object-fit: cover;
    }
  }
  &-action {
    display: inline-flex;
    column-gap: 30px;
    & > * {
      flex: 1;
    }
  }
}
@media screen and (max-width: 767px) {
  .download {
    padding-top: 50px;
    &-inner {
      flex-direction: column-reverse;
    }
    &-media {
      position: unset;
      transform: unset;
      width: 100%;
    }
    &-content {
      width: 100%;
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }
}
@media screen and (max-width: 1023px) {
  .download {
    &-media {
      > img {
        object-fit: contain;
      }
    }
  }
}

